In [7]:
import pandas as pd

df = pd.read_csv('wfh_burnout_dataset.csv')

# isolate the target variables
burnout_score = df['burnout_score'] 
df.drop('burnout_score', axis=1, inplace=True)

burnout_risk = df['burnout_risk']
df.drop('burnout_risk', axis=1, inplace=True)

df['day_type'] = df['day_type'].map({'Weekday': 0, 'Weekend': 1}) # convert day_type to binary, weekend = 1, weekday = 0
df['task_completion'] = df['task_completion'] / 10 # scale task_completion to be more between 1 and 10
df['app_switches'] = df['app_switches'] / 10 # scale app_switches to be more between 1 and 10


df.head()

,user_id,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,app_switches,sleep_hours,task_completion,isolation_index,fatigue_score
0,129,0,7.74,5.99,3,7,0,5.0,7.50,7.480,4,3.51
1,24,0,8.48,7.23,3,5,0,6.3,7.31,8.636,4,5.15
2,147,1,8.39,7.14,1,5,0,2.7,6.73,8.923,8,7.85
3,42,0,12.48,12.23,4,1,1,8.9,6.55,6.447,5,10.00
4,99,1,8.85,7.35,4,6,0,4.0,8.03,9.862,3,3.45